/* fundo da página */
* { 
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: blue;
 box-sizing: border-box; 
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.rolamento {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  margin: 0;
}
.rolamento h1 {
  color: aliceblue;
  text-align: center;
  margin-top: 1500px;
}




/* expansivo para celular  */
@media (max-width: 768px) {
    body {
    width: 100%;
    margin: 0;
    padding: 0;
    .custom-header {
    display: none;
  }
  .mobile-top-container{
    display: block;
  }
  .ocultar-desktop{
    display: block;
  }
  } 
}
/* expansivo para desktop  */
.mobile-top-container {
  display: none;
}
.ocultar-desktop {
  display: none;
}



.custom-header {
  position: relative;
  display: flex;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  background: #06050a;
  height: 60px;
  border-left: 8px solid #2400ff;
  border-right: 8px solid #2400ff;
  box-sizing: border-box;
  margin-top: 0;
  overflow: hidden; 
  padding-left: 20px;
  padding-right: 20px;
  z-index: 3; 
  border-radius: 0 0 1.5rem 1.5rem;
  background: #06050a;
  
}


.header-side {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.header-left {
  justify-content: flex-start;
}

.header-right {
  justify-content: flex-end;
}


.logo {
  height: 28px;
  margin-right: 0.5rem;
  width: 30px;
}

.brand-name {
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

.nav-center {
  background-color: black;
  display: flex;
  white-space: nowrap;
  justify-content: center;
  gap: 2rem;
}

.nav-center a {
  background-color: black;

  color: white;
  text-decoration: none;
  font-size: 0.95rem;
}

.nav-center a:hover {
  color: #00aaff;
}





.whatsapp-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 0.85rem;
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;
  transition: all 0.3s ease;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}


.whatsapp-btn img {
  width: 18px;
  height: 18px;
}


.whatsapp-btn:hover {
  background-color: blue;

}




.social-popup {
  position: absolute;
  top: 70px; 
  left: 0;
  background: linear-gradient(135deg, #1010a5cc, #b300b3cc); 
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  padding: 12px;
  width: 90px;
  display: none;
  flex-direction: column;
  min-width: 200px;
  z-index: 99999;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(12px);
}

.social-popup a {
  color: white;
  text-decoration: none;
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: transparent;
  font-size: 1rem;
  border-radius: 8px;
  transition: background 0.2s ease;
}

.social-popup a:hover {
  background: rgba(255, 255, 255, 0.1);
}

.social-popup img {
  width: 20px;
  background-color: transparent;
  height: 20px;
}


@media (max-width: 768px) {
  .mobile-top-container {
  display: flex;
  justify-content: center;
  position: fixed;
  align-items: center;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  
  }

  .mobile-top-bar {
    background: #0a0a18;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;
  }

  .mobile-logo {
    display: flex;
    background-color: #06050a;
    align-items: center;
    gap: 6px;
    padding-left: 6px;
  }

  .mobile-logo img {
    width: 20px;
    height: 20px;
  }

  .mobile-logo span {
    color: white;
    font-weight: bold;
    font-size: 14px;
  }


  .mobile-icons {
    display: flex;
    right: 2px;
    padding-left: 30px;
   
    background-color: black;
    max-width: 100px;
    min-width: 100px;
    align-items: center;
  }

  .circle-btn {
    background: #0f1131;
    border: none;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 4px;
    cursor: pointer;
    padding-right: 3px;
  }

  .circle-btn .dot {
    width: 6px;
    height: 6px;
    background: white;
    border-radius: 100%;

  }

  .canto-um {
  position: absolute;
  background-color: none;
  width: 27px;
  top: 0;
  left: -8px;
  transform: scaleX(-1);
  fill:  black;
}
  .bordinha {
    position: absolute;
    width: 10px;
    min-width:10px;
    top: 8px;
    right: 20px;
    background-color: transparent;
    fill: #0000ff;
    transition: all .3s;
  }

  .canto-dois {
  background-color: transparent;
  width: 30px;
  right: -5px;
  top: 0;
  height: 20px;
  position: absolute;
  }

  .whatsapp-btn-2 {
    background-color:#0000ff;
    border-radius: 10px 0 5px; 
    margin: 0 0 0 10px;
    padding: 11px 10px 11px 12px;
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: center;
  }

  .whatsapp-btn-2 img {
   width: 18px;
  height: 18px;
  }

  .mobile-menu {
    background: #18182c;
    margin-top: 5px;
    border-radius: 14px;
    display: none;
    flex-direction: column;
    padding: 10px 15px;
    color: white;
    gap: 10px;
  }

  .mobile-menu a {
    text-decoration: none;
    color: white;
    font-size: 14px;
  }

  .submenu {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .submenu span {
    font-weight: bold;
    cursor: pointer;
  }

  .submenu-links {
    display: none;
    flex-direction: column;
    padding-left: 10px;
    gap: 5px;
  }

  .submenu.active .submenu-links {
    display: flex;
  }
}
